.calendarBoard
{
    width: 40%;
    font-weight: 700;
    cursor:default;
}

.weekName ul,.calendarMY{
list-style: none;
}

.calendarMY li{
font-weight: 800;
cursor:default;

}

.weekName ul li{
    padding: 5%;
    width: 25px;
    height: 25px;
    background: #09171D;
    color:#839496;
    font-size: 18px;
}

  span{
      padding:5%;
  }

  .highlited{
      background: #839496 !important;
      color:#09171D !important;
  }